.venv/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
alembic/__pycache__/
alembic/.cache/